<footer class="footer ">
  <small>
    The <a href="http://www/lums.edu.pk">Copyrighht LUMS EE LAB</a>
  
  </small>
  <nav>
    <ul class="breadcrumb">
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'https://www.facebook.com/photo.php?fbid=10153353987723701&set=a.451935368700.237915.756198700&type=1&theater' %></li>
      <li><a href="http://www.lums.edu.pk">News</a></li>
    </ul>
  </nav>
</footer>